<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body { font-family: Arial; background: #f4f4f4; }
        .nav { background: black; padding: 10px; }
        .nav a { color: white; margin: 10px; text-decoration: none; }
        .container { background: white; padding: 20px; margin: 40px; border-radius: 10px; }
    </style>
</head>

<body>

<div class="nav">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</div>

<div class="container">
    <h1>Welcome to Django Dealership App</h1>

    <h3>Welcome, Puneet</h3>

    <h3>Dealers List</h3>

    <ul>
        {% for dealer in dealers %}
            <li>{{ dealer.name }} - {{ dealer.city }}</li>
        {% endfor %}
    </ul>

</div>

</body>
</html>

